@media (min-width: 1100px) {
  .checkout {
    padding: 20px;
  }

  /* heading  */
  .heading {
    height: 65px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .heading h1 {
    font-family: var(--font-heading);
    font-size: 30px;
  }

  /*  container  */
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
  }

  /* form-heading  */
  .formHeading {
    margin: 5px 0px;
    width: 85%;
  }

  .formHeading h3 {
    font-family: var(--font-heading);
    font-size: 20px;
  }

  /*  user information  */
  .userDetailsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .userDetailForm {
    width: 85%;
    margin-bottom: 15px;
  }

  .inpDiv {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 15px 0px;
    font-family: var(--second-font);
  }

  .editInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #2e7d32;
  }

  .editInfo:hover {
    cursor: pointer;
  }

  .Fname {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  /*  all inputs  */
  .userInput {
    outline: none;
    height: 40px;
    background-color: #eef5f3;
    border: 0px;
    border-radius: 10px;
    padding: 8px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  .userInput:focus {
    border: 1px solid #8bc34a;
    background-color: #fff;
  }

  .userAddress {
    outline: none;
    background-color: #eef5f3;
    border: 0px;
    border-radius: 10px;
    padding: 8px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    font-family: var(--second-font);
    resize: none;
  }

  .userAddress:focus {
    border: 1px solid #8bc34a;
    background-color: #fff;
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: 8px;
    width: 15px;
    height: 15px;
    border: 0px;
    border-radius: 3px;
  }

  .close:hover {
    cursor: pointer;
  }

  /*  pay-button */
  .payBtnContainer {
    display: flex;
    border: 0px;
    align-items: center;
    margin-top: 10px;
    height: 42px;
    width: 160px;
    border-radius: 10px;
    background-color: #43a047;
    color: #fff;
    flex-direction: row;
    justify-content: center;
  }

  .payBtnContainer:hover {
    cursor: pointer;
  }

  .payBtnContainer:active {
    background-color: #43a047ed;
  }

  .payBtnContainer:disabled {
    background-color: grey;
    cursor: not-allowed;
  }

  /* cash on delivery  */
  .codContainer {
    width: 85%;
    font-family: var(--second-font);
    font-size: 18px;
    font-weight: 700;
  }

  .cod {
    display: flex;
    align-items: center;
  }

  .cod input {
    margin-left: 10px;
  }

  /*  pay-button */
  .codBtn {
    display: flex;
    visibility: hidden;
    border: 0px;
    align-items: center;
    margin-top: 10px;
    height: 42px;
    font-size: 18px;
    font-family: var(--third-font);
    width: 160px;
    border-radius: 10px;
    background-color: #43a047;
    color: #fff;
    flex-direction: row;
    justify-content: center;
  }

  .codBtn:hover {
    cursor: pointer;
  }

  .codBtn:active {
    background-color: #43a047ed;
  }

  /* otp verify container  */
  .otpVerifyContainer {
    position: absolute;
    height: 200px;
    width: 520px;
    background-color: #c8e6c9;
    margin: auto;
    top: 400px;
    left: 450px;
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .otpVerifyContainer h4 span {
    color: #43a047;
  }

  .otpInp {
    width: 40px;
    height: 45px;
    margin: 0px 5px;
    outline: none;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 6px;
  }

  .otpInp:nth-child(1) {
    cursor: auto;
    pointer-events: all;
  }

  .otpInpContainer {
    margin: 20px 0px;
  }

  .editNumber {
    color: #43a047;
    font-size: 15px;
    cursor: pointer;
  }

  /* button  */
  .otpVerifyContainer button {
    border: 0px;
    width: 40%;
    height: 28px;
    border-radius: 5px;
    background-color: #43a047;
    color: #fff;
    margin-top: 12px;
  }

  .otpVerifyContainer button:hover {
    cursor: pointer;
  }

  .otpVerifyContainer button:active {
    background-color: #43a047ed;
  }

  .totalPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
  }

  .totalPrice span {
    font-size: large;
    margin-left: 8px;
  }

  .payBtnContainer button:hover .totalPrice {
    opacity: 0.9;
  }

  /*  summary  */
  .summary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .summaryConatiner {
    width: 95%;
    border: 0;
    padding: 10px;
    border-radius: 13px;
    background-color: #e8f5e9;
    height: 510px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  /* heading */
  .summarryHeading {
    margin: 5px 0px 5px 0px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .summarryHeading span {
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
  }

  .summarryHeading h2 {
    font-family: var(--font-heading);
    font-size: 22px;
  }

  .summarryHeading span {
    font-family: var(--second-font);
  }

  /*  item-list */
  .itemsList {
    height: 305px;
    overflow: hidden scroll;
    background-color: #fff;
    padding: 0px 10px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-family: var(--second-font);
  }

  .itemsList::-webkit-scrollbar {
    display: none;
  }

  .itemsContainer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin: 5px 0px;
    height: 65px;
    border-bottom: 1px solid #e0e0e0;
  }

  .itemQty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemPrice {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemDetail {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: flex-start;
  }

  .itemDetail img {
    background-color: #fff;
  }

  .itemDetail span {
    max-width: 175px;
    margin-left: 10px;
  }

  .itemWeight {
    margin-top: 5px;
  }

  /* total-amount  */
  .subtotalContainer {
    min-height: 135px;
    max-height: 135px;
    border-top: 1px solid black;
    padding: 0px 10px;
    font-family: var(--second-font);
  }

  .calculateContainer {
    justify-content: center;
    min-height: 90px;
    max-height: 90px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
  }

  .calPrice {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
  }

  .calPrice span {
    font-size: 15px;
  }

  .grandTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
  }

  .grandTotal span {
    font-weight: 700;
    font-size: 17px;
  }
}






/*******                  **********
            for mobile  
*******                    *********/
@media (min-width: 250px) and (max-width: 450px) {
  .checkout {
    padding: 10px;
  }

  /* heading  */
  .heading {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .heading h1 {
    font-family: var(--font-heading);
    font-size: 25px;
  }

  /*  container  */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* form-heading  */
  .formHeading {
    margin: 5px 0px;
    width: 95%;
  }

  .formHeading h3 {
    font-family: var(--font-heading);
    font-size: 19px;
  }

  /*  user information  */
  .userDetailsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .userDetailForm {
    width: 95%;
    margin-bottom: 15px;
  }

  .inpDiv {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    font-family: var(--second-font);
  }

  .editInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #2e7d32;
  }

  .editInfo:hover {
    cursor: pointer;
  }

  .Fname {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  /*  all inputs  */
  .userInput {
    outline: none;
    height: 40px;
    background-color: #eef5f3;
    border: 0px;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  .userInput:focus {
    border: 1px solid #8bc34a;
    background-color: #fff;
  }

  .userAddress {
    outline: none;
    background-color: #eef5f3;
    border: 0px;
    border-radius: 10px;
    padding: 8px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    font-family: var(--second-font);
    resize: none;
  }

  .userAddress:focus {
    border: 1px solid #8bc34a;
    background-color: #fff;
  }

  
  /*  pay-button */
  .payBtnContainer {
    display: flex;
    border: 0px;
    align-items: center;
    margin-top: 18px;
    height: 36px;
    width: 120px;
    border-radius: 10px;
    background-color: #43a047;
    color: #fff;
    flex-direction: row;
    justify-content: center;
  }

  .payBtnContainer:hover {
    cursor: pointer;
  }

  .payBtnContainer:active {
    background-color: #43a047ed;
  }

  .payBtnContainer:disabled {
    background-color: grey;
    cursor: not-allowed;
  }

  .totalPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
  }

  .totalPrice span {
    font-size: 15px;
    margin-left: 8px;
  }

  .payBtnContainer button:hover .totalPrice {
    opacity: 0.9;
  }

  /* cash on delivery  */
  .codContainer {
    width: 95%;
    font-family: var(--font-heading);
    font-size: 19px;
    font-weight: 700;
  }

  .cod {
    display: flex;
    align-items: center;
  }

  .cod input {
    margin-left: 10px;
  }

  /*  pay-button */
  .codBtn {
    display: flex;
    visibility: hidden;
    border: 0px;
    align-items: center;
    margin-top: 10px;
    height: 36px;
    font-size: 15px;
    font-family: var(--third-font);
    width: 120px;
    border-radius: 10px;
    background-color: #43a047;
    color: #fff;
    flex-direction: row;
    justify-content: center;
  }

  .codBtn:hover {
    cursor: pointer;
  }

  .codBtn:active {
    background-color: #43a047ed;
  }

  /* otp verify container  */
  .otpVerifyContainer {
    position: absolute;
    height: 200px;
    width: 90%;
    background-color: #c8e6c9;
    margin: auto;
    top: 300px;
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .otpVerifyContainer h4{
    font-family: var(--third-font);
    font-size: 13px;
    font-weight: 100;
  }

  .otpVerifyContainer h4 span {
    color: #43a047;
    font-weight: 700;
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: 8px;
    border: 0px;
    border-radius: 3px;
  }

  .close img{
    width: 10px;
    height: 10px;
  }

  .close:hover {
    cursor: pointer;
  }

  .otpInp {
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    outline: none;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 6px;
  }

  .otpInp:nth-child(1) {
    cursor: auto;
    pointer-events: all;
  }

  .otpInpContainer {
    margin: 20px 0px;
  }

  .editNumber {
    color: #43a047;
    font-size: 14px;
    cursor: pointer;
    font-family: var(--third-font);
  }

  /* button  */
  .otpVerifyContainer button {
    border: 0px;
    width: 40%;
    height: 28px;
    border-radius: 5px;
    background-color: #43a047;
    color: #fff;
    margin-top: 12px;
    font-family: var(--third-font);
    font-size: 14px;
  }

  .otpVerifyContainer button:hover {
    cursor: pointer;
  }

  .otpVerifyContainer button:active {
    background-color: #43a047ed;
  }

  

  /*  summary  */
  .summary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .summaryConatiner {
    width: 95%;
    border: 0;
    padding: 10px;
    border-radius: 13px;
    background-color: #e8f5e9;
    height: 510px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  /* heading */
  .summarryHeading {
    margin: 5px 0px 5px 0px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .summarryHeading span {
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
  }

  .summarryHeading h2 {
    font-family: var(--font-heading);
    font-size: 19px;
  }

  .summarryHeading span {
    font-family: var(--second-font);
    font-size: 15px;
  }

  /*  item-list */
  .itemsList {
    height: 285px;
    overflow: hidden scroll;
    background-color: #fff;
    padding: 0px 10px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-family: var(--second-font);
  }

  .itemsList::-webkit-scrollbar {
    display: none;
  }

  .itemsContainer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin: 5px 0px;
    height: 65px;
    border-bottom: 1px solid #e0e0e0;
  }

  .itemQty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemPrice {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemDetail {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: flex-start;
  }

  .itemDetail img {
    background-color: #fff;
    width: 50px;
    height: 50px;
  }

  .itemDetail span {
    margin-left: 10px;
  }

  .itemWeight {
    margin-top: 5px;
  }

  /* total-amount  */
  .subtotalContainer {
    /* min-height: 135px;
    max-height: 135px; */
    border-top: 1px solid black;
    padding: 0px 10px;
    font-family: var(--second-font);
  }

  .calculateContainer {
    justify-content: center;
    height: 90px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
  }

  .calPrice {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
  }

  .calPrice span {
    font-size: 16px;
  }

  .grandTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
  }

  .grandTotal span {
    font-weight: 700;
    font-size: 17px;
  }
}
